{%  extends 'MonCV/base.html' %}

{% block content %}
    <h1>About Me</h1>
    <p>
        IT engineer specialized in information systems and cybersecurity incidents.
        Over 5 years of experience in IT support, security incident management, and full-stack development.
        Passionate about securing systems and networks, with solid experience in security monitoring and incident response.
        Eager to contribute to the protection of information systems in a leading organization.
    </p>

    <h2>Education</h2>
    <p>
        Master's Degree (Bac +5) in Computer Science: Information Systems
        SUPMTI : École superieur de management de télécomunication et d'informatique
        Country : Morocco

        Bachelor Degree in Information Systems & Electrics
        Hochschule Mannheim
        University of applied sciences Mannheim
        Country : Germany

        German High School Diploma (Abitur)
        Studienkolleg Saarbrücken
        German University Entrance Qualiﬁcation Saarbrücken
        Country : Germany
    </p>

    <h2>Languages</h2>
    <p>
        Geman:
                Fluent, Native or Bilingual Proﬁciency
        English:
                Fluent or Bilingual Proﬁciency
        French:
                Fluent, Native or Bilingual Proﬁciency
        Arabic:
                Mother Thong, Fluent, Native or Bilingual
    </p>

    <h2>Skills</h2>
    <p>
        Programming:
                    Python, Django, HTML/CSS, Java, Spring Boot, MySQL
        Cybersecurity:
                    Vulnerability Management, Network Scanning & Detection, OSINT, Oﬀensive/Defensive Security, Penetration Testing, Passiv/Active Reconnaisance
        Methodologies:
                    Unified Kill Chain, Cyber Kill Chain, CIA Triad, MITRE ATT&CK Framework, Cyber Treath Intelligence
        Soft Skills:
                    Empathy, Active Listening
        Hard Skills:
                    Problem Solving
    </p>

    <h2>University Projects</h2>
    <p>
        NexThink Implementation in Econocom (05/2024 - 07/2024)

        Cyber Monkeys Security (02/2023 - 07/2023)

        Associative Funds Management Application (05/2022 - 07/2022)

        Libraria: Online Library (06/2021 - 08/2021)
    </p>

    <h2>Personal Projects</h2>
    <p>
        Online Resume (10/24 - Today)
        Invoice Management Web Application (10/24 - Today)
    </p>

    <h2>Pro Experience</h2>
    <p>
        Econocom : Service Desk Specialist,
            City :
                    Technopolis, Sala al Jadida, Morocco
                    01/2021 - Today
            Achievements/Tasks :
                    Resolution of L1 & L2 software, hardware and security incidents.
                    Diagnosing hardware &software malfunctions.
                    Trained new employees on secure IT processes.

        Chaos Computer Club : Penetration Tester
            City :
                    HQ, Mannheim, Germany
            Achievements/Tasks :
                    Conducted vulnerability assessments on various systems and networks, identifying potential security gaps through comprehensive penetration testing methodologies.

                    Performed OSINT investigations to gather intelligence for testing engagements.

                    Developed and deployed custom exploitation tools for simulating attacks on web applications and networks.

                    Collaborated on Red/Blu Team exercises , testing defensive mechanisms and improving the security posture of organizations by providing actionable recommendations.

                    Delivered workshops and training on penetration testing and OSINT techniques.
    </p>

{% endblock %}